@import 'moz-theme';


$fs-xx-large: 3em;
$fs-x-large: 2.2em;
$fs-large: 1.8em;
$fs-medium: 1.4em;
$fs-smallish: 1.2em;
$fs-small: 0.9em;
$fs-x-small: 0.7em;
$fs-xx-small: 0.5em;

$accent: #efccef;
$counter-accent: #4444aa;
$grey: #EDDEA4;
$old-grey: #EEDFA5;
$text-color: #160F29;
$frame-border-color: #efefef;

body {
  background-image: linear-gradient(to bottom, $grey, $old-grey 60%);
  background-color: $grey;
}


.clearfix {
  &:before, &:after {
    content: "";
    display: table-cell;
    clear: both;
  }
}

.left {
  float: left;
  text-align: left;
  justify-content: flex-start;
}

.right {
  float: right;
  text-align: right;
  justify-content: flex-end;
}

.bottom {
  display: flex;
  align-items: flex-end;
}

.vcenter {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
  justify-content: center;

  & > * {
    margin-left: auto;
    margin-right: auto;
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-large {
  font-size: $fs-large !important;
}

.fs-medium {
  font-size: $fs-medium !important;
}

.fs-small {
  font-size: $fs-small !important;
}

.fs-x-small {
  font-size: $fs-x-small !important;
}

.fs-xx-small {
  font-size: $fs-xx-small !important;
}

.fs-xx-large{
  font-size: $fs-xx-large !important;
}

.fs-x-large{
  font-size: $fs-x-large !important;
}

.block {
  display: block;
  position: relative;
  border: 10px solid $frame-border-color;
  width: 100%;
  height: auto;
  padding: 0.25em;
  box-shadow: 15px 15px 2px rgba(22, 22, 22, 0.8);
  width: 33%;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  background-color: transparent;
  opacity: 1;
  margin: .2em;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    background-image: url('./images/bubbles.gif');
    opacity: .9;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }

  &.covered {
    background-color: $accent;

    &:before {
      content: "";
      opacity: .1;
    }
  }

  &.covered--bg {
    background-color: $accent;
  }

  &.no-img {
    &:before {
      background-image: none;
    }
  }

  &--medium {
    width: 12em;
    height: auto;
    min-height: 4em;
  }

  &--long {
    width: 18em;
  }

  &--xtra-long {
    width: 100%;
  }

  &--full-height {
    height: 60vh;
  }
}

.title-footer {
  justify-content: flex-end;
  position: relative;
  bottom: -1em;
}

.logo-title {
  position: relative;

  &:before {
    background-attachment: scroll;
    background-color: transparent;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    width: 1em;
    height: 1em;
    top: 0;
    left: -1em;
    background-image: url(/assets/images/simplabs-logo.png);
  }
}

.twitter-title {
  &:before {
    background-image: url(/assets/images/twitter.png);
    width: 0.9em;
    height: 0.9em;
    top: 0.2em;
    left: -1em;
  }
}

.job-title {
  &:before {
    background-image: url(/assets/images/simplabs-logo.svg);
    width: 0.9em;
    height: 0.9em;
    top: 0.2em;
    left: -1em;
  }
}

.bubble {
  position: absolute;
  background-color: #fff;
  padding: 3em 1.5em;
  border-radius: 55% 60% 50% 50% / 60% 60% 40% 40%;
  border: 3px solid #212121;
  color: #212121;
  font-size: $fs-small;
  position: absolute;
  bottom: -2em;
  right: -1em;
  z-index: 99;
  text-align: center;
  font-family: 'Permanent Marker', cursive !important;

  &.top {
    top: -1em;
    left: -1.5em;
    bottom: auto;
    right: auto;
  }

  &.topish {
    top: 2em;
    left: -1.5em;
    bottom: auto;
    right: auto;
  }

  &.tall {
    border-radius: 70% 70% 60% 90% / 70% 60% 50% 50%;
    padding: 1em 1em;
    width: 6em;
  }

  &.right {
    right: -1em;
    left: auto;
  }
}

.reveal pre {
  width: 100%;
}

.hljs {
  font-size: $fs-medium;
}

.demo-font-1 {
  animation: grow ease-in 2s;
  animation-fill-mode: forwards;
  color: $counter-accent;
}

.demo-font-2 {
  animation: contrastier ease-in 4s;
  animation-fill-mode: forwards;
  color: #eaeaea;
}

@keyframes grow {
  0% {
    font-size: 10px
  }
  100% {
    font-size: 36px;
  }
}

@keyframes contrastier {
  0% {
    color: #eaeaea;
  }
  100% {
    color: #484848;
  }
}

.reveal {
  text-align: center;
  justify-content: center;

  img.flat {
    box-shadow: none;
    border: none;
  }

  section {
    img {
      border: 6px solid $frame-border-color;
      box-shadow: 10px 10px 2px rgba(22, 22, 22, 0.8);
    }
  }
}

.reveal {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers', cursive;
    color: $text-color;
  }

  strong, a {
    color: $counter-accent;
  }
}
.reveal h1, .reveal h2 {
  font-size: $fs-x-large;
}

.reveal .controls button {
  color: $accent !important;
}

.mt-1 {
  margin-top: 2em !important;
}

.mt-2 {
  margin-top: 4em !important;
}

.mt-3 {
  margin-top: 8em !important;
}

.mt-4 {
  margin-top: 16em !important;
}

.list {
  list-style-type: none !important;
  font-size: $fs-smallish;

  li {
    margin-top: .9em;
    position: relative;

    &:before {
      font-family: 'Bangers', sans-serif;
      font-size: $fs-large;
      content: "!";
      position: absolute;
      left: -.5em;
      top: -.2em;
      display: block;
      color: $text-color;
    }
  }

  &--left {
    padding-right: 40%;
  }

  &--right {
    padding-left: 40%;
  }
}


/* BlOCK Illustrations */

.block {
  &.paul {
    &:before {
      background-image: url('./images/paul-meyer-comic.jpg');
    }
  }

  &.kernel {
    &:before {
      background-image: url('./images/kernel-panic.png');
    }
  }

  &.empower {
    &:before {
      background-image: url('./images/comics-empower.png');
    }
  }

  &.ember {
    &:before {
      background-image: url('./images/ember.png');
    }
  }
}
